@media (min-width: 768px) {
  /* Adjust styles for medium screens here */
  .card {
      font-size: 16px;
  }
}

@media (min-width: 992px) {
  /* Adjust styles for large screens here */
  .card {
      font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* Adjust styles for small screens here */
  .card {
      font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  h5 {
      font-size: 1.5em;
  }
  p {
      font-size: 1em;
  }
}


@media screen and (max-width: 599px) {
  h5 {
      font-size: 1.2em; /* Adjust the font size for smaller screens */
  }
  p {
      font-size: 0.8em; /* Adjust the font size for smaller screens */
  }
}

body {
  background-image: url("../assets/pexels-mudassir-ali-2680270.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#forecastContainer {
  text-align: center;
  color: white;
  border: 1px solid white;
  font-weight: 700;
  margin-bottom: 10px; /* Adjust spacing between rows */
}

@media only screen and (min-width: 600px) {
  .container .row {
      display: flex;
      justify-content: center;
  }
}


