@media (min-width: 768px) {
  /* Adjust styles for medium screens here */
  .card {
      font-size: 16px;
  }
}

@media (min-width: 992px) {
  /* Adjust styles for large screens here */
  .card {
      font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* Adjust styles for small screens here */
  .card {
      font-size: 14px;
  }
}

body {
  background-image: url("../assets/pexels-mudassir-ali-2680270.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}