body {
    background-color:rgb(113, 224, 187);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.searchbar{
    display:inline-block;
}



.input-group {
    width: 25%;
    float: left;
    padding: 20px;
}

.row {

    padding-top: .5px;
    padding-left: 25px;
    font-size: medium;
    font-weight: bold;
    padding-right: 50px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    float: left;

}
.weather-row{
    
    width: 20%;
    text-align: left;
    padding-top: 20px;
    

}

.container-title{
    margin-left: 340px;
    font-weight:bold ;
    font-size: 50px;
}
.container-text {
    text-align: center;
    

margin-left: 100px;
}

.current-weather {
    text-align: center;
}



table {
    width: 100%;
    background-color: aliceblue;
}

